.projectImg {
  width: 240px;
  position: absolute;
  display: inline-block;
  margin-left: 0;
  background-color: rgb(222, 222, 222);
  vertical-align: top;
  box-shadow: -5px -5px 3px 1px rgba(0,0,0,.25);
}

.projectImg:nth-child(1) {
  top: 0;
  left: 0;
}

.projectImg:nth-child(2) {
  top: 40px;
  left: 20px;
}

.projectImg:nth-child(3){
  top: 100px;
  left: 40px;
}

.projectdesc {
  width: 60%;
  width: calc(100% - 300px);
  display: inline-block;
  margin-left: 20px;
  vertical-align: top;
}

.projectdesc:first-child {
  width: 100%;
  margin-left: 0;
}

@media (max-width: 800px) {

  .projectdesc {
    width: 100%;
    margin-left: 0;
  }

}

.projects {
  width: 100%;
  margin: 160px auto;
}

@media (max-width: 800px) {

  .projects {
    margin-top: 40px;
  }

}

.technology li,
.tools li {
  display: inline-block;
  min-width: 80px;
  height: 40px;
  padding: 5px 15px;
  margin: 5px;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  border-radius: 20px;
  color: #ffffff;
}
/*
.technology li { background-color: #0032a7; }
.tools li { background-color: #00a732; }
*/

.technology li { background-color: #222222; }
.tools li { background-color: #999999; }

.demoCont { margin: 20px 0;}

.demoFiles li {
  display: inline-block;
  height: 35px;
  min-width: 70px;
  padding: 5px 15px;
  border-radius: 5px 5px 0 0;
  line-height: 25px;
  font-size: 14px;
  background-color: #666666;
  color: #ffffff;
  cursor: pointer;
}

.demoFiles .selected { background-color: #0050b0; }

.demo {
  display: block;
  border: 1px solid #999999;
  background-color: #CCCCCC;
	height: 600px;
	overflow: auto;
  white-space: pre;
	display: none;
}

.demo.showing { display: block; }

.lineNum {
  display: inline-block;
  min-width: 50px;
  margin-right: 15px;
  text-align: right;
  color: #409040;
}

.seeMore,
.bitbucketRepo {
  display: inline-block;
  width: 30%;
  /*
  height: 2em;
  line-height: 2em;*/
  margin-top: 17px;
  text-align: center;
  /*
  color: rgb(255, 255, 255);
  background-color: rgb(128, 128, 128);
  */
  -webkit-transition: .5s background-color;
  transition: .5s background-color;
}

.bitbucketRepo { background-color: #205081; }

.seeMore:hover { background-color: rgb(64, 64, 64); }

@media (max-width: 640px) {

  .seeMore,
  .bitbucketRepo {
    /*
    height: 3em;
    line-height: 3em;
    */
    font-size: 16pt;
  }

}

.projectName {
  min-height: 35px;
  font-size: 4em;
  font-weight: 400;
  line-height: 1;
  color: rgb(0, 0, 0);
  margin-bottom: .25em;
}

.projectText {
  max-width: 45em;
  min-height: 44px;
  margin-top: 10px;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.projectsInDetail {
  background-color: rgb(224, 224, 224);
  padding: 20px 0;
}

.dia2_img1 {
  display: inline-block;
  width: 100%;
  margin: 0px auto;
  position: absolute;
  top: 320px;
}

.detailName {
  font-size: 2em;
  font-weight: 700;
}

.detailDesc {
  display: inline-block;
  max-width: 54%;
  vertical-align: top;
  margin: 10px 20px;
}

.detailText {
  margin: 15px 0;
  font-weight: 400;
}

.detailImages {
  margin: 0px 0 20px 8.5%;
  width: 180px;
  display: inline-block;
  position: relative;
}

.dia2_img2 {
  display: inline-block;
  width: 100%;
  position: absolute;
  margin: 20px auto;
  clip: rect(100px, 240px, 230px, 0px);
  top: -120px;
}

.dia2_img3 {
  position: absolute;
  top: 150px;
}

.detailLinks a {
  text-decoration: underline;
}

#dia2_details {
  min-height: 480px
}

.vstarImages {
  margin: 80px 0 0;
}

.projectImages {
  position: relative;
  width: 275px;
  height: 200px;
  display: inline-block;
}

@media (max-width: 800px) {

  .projectImages {
    display: block;
    margin: 0 auto 30px;
  }

}

.abstract {
  font-style: italic;
}
