.story_title {
  position: relative;
  z-index: 0;
  font-size: 2.25em;
  margin: 0 0 20px;
}

.projectImg {
  width: 240px;
  position: absolute;
  display: inline-block;
  margin-left: 0;
  background-color: rgb(222, 222, 222);
  vertical-align: top;
  box-shadow: -5px -5px 3px 1px rgba(0,0,0,.25);
}

.projectImg:nth-child(1) {
  top: 0;
  left: 0;
}

.projectImg:nth-child(2) {
  top: 40px;
  left: 20px;
}

.projectImg:nth-child(3){
  top: 100px;
  left: 40px;
}

.projectdesc {
  width: 100%;
  max-width: 800px;
  display: inline-block;
  margin-left: 20px;
  vertical-align: top;
}

.projects {
  width: 100%;
  margin: 160px auto;
}

#dia2 .back {
  --back-scale: 300;
  background-image: url(../img/dia2_homepage_1200_blur.png);
  background-size: cover;
  transform: translate3d(calc(-1.75px * var(--back-scale)),calc(15px * var(--back-scale)),calc(var(--back-scale) * -1px)) scale(calc((var(--back-scale) + 5)/5));
  transform: translate3d(-525px, 4500px, -300px) scale(61);
}

#vstar .back {
  --back-scale: .5;
  /* background-image: url(../img/vstar_invision.png); */
  background-image: url(../img/vstar_invision_blur.png);
  background-size: cover;
  /* filter: grayscale(100%); */
  transform: translate3d(calc(-1.75px * var(--back-scale)), calc(-200px * var(--back-scale) + 0px), calc(var(--back-scale) * -1px)) scale(calc((var(--back-scale) + 5)/5));
  transform: translate3d(-0.875px, -100px, -0.5px) scale(1.1);
}

#vstar .back.slow {
  --back-scale: 60;
  transform: translate3d(calc(-1.75px * var(--back-scale)), calc(25px * var(--back-scale) + -0px), calc(var(--back-scale) * -1px)) scale(calc((var(--back-scale) + 5)/5));
  transform: translate3d(-105px, 1500px, -60px) scale(13);
}

#thesis .back {
  --back-scale: 1.5;
  /* background-image: url(../img/watch.png); */
  background-image: url(../img/watch_blur.png);
  background-size: cover;
  transform: translate3d(calc(-1.75px * var(--back-scale)), calc(60px * var(--back-scale)), calc(var(--back-scale) * -1px)) scale(calc((var(--back-scale) + 5)/5));
  transform: translate3d(-2.625px, 90px, -1.5px) scale(1.3);
}

.seeMore {
  display: block;
  width: 30.5699309978%;
  height: 2em;
  line-height: 2em;
  margin-top: 17px;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(128, 128, 128);
  -webkit-transition: .5s background-color;
  transition: .5s background-color;
}

.seeMore:hover { background-color: rgb(64, 64, 64); }

.projectName {
  min-height: 35px;
  font-size: 4em;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(0, 0, 0);
}

@media (max-width: 640px) {
  .projectName {
    font-size: 2em;
  }
}

.projectText {
  min-height: 44px;
  margin-top: 10px;
  font-size: 1.25em;
  font-weight: 400;
  line-height: 1.7em;
  color: rgb(0, 0, 0);
}

@media (max-width: 640px) {
  .projectText {
    font-size: 1em;
    line-height: 1.5;
  }
}

.projectsInDetail {
  background-color: rgb(224, 224, 224);
  padding: 20px 0;
}

.dia2_img1 {
  display: inline-block;
  width: 100%;
  margin: 0px auto;
  position: absolute;
  top: 320px;
}

.detailName {
  font-size: 2em;
  font-weight: 700;
}

.detailDesc {
  display: inline-block;
  max-width: 54%;
  vertical-align: top;
  margin: 10px 20px;
}

.detailText {
  margin: 15px 0;
  font-weight: 400;
}

.imgCont img {
  padding: 10px 10px 60px;
  background-color: #FFFFFF;
  position: absolute;
  box-shadow: 2px 2px 5px 3px rgba(0,0,0,.5);
}

#ixd {
  padding-bottom: 65%;
}

#ixd img:nth-child(1) {
  top: 20%;
  left: 5%;
  width: 30%;
  transform: rotate(-15deg);
}

#ixd img:nth-child(2) {
  top: 50%;
  left: 5%;
  width: 30%;
  transform: rotate(-10deg);
}

#ixd img:nth-child(3) {
  top: 20%;
  left: 35%;
  width: 60%;
  transform: rotate(10deg);
}

.dia2_img2 {
  display: inline-block;
  width: 100%;
  position: absolute;
  margin: 20px auto;
  clip: rect(100px, 240px, 230px, 0px);
  top: -120px;
}

.dia2_img3 {
  position: absolute;
  top: 150px;
}

.detailLinks a {
  text-decoration: underline;
}

#dia2_details {
  min-height: 480px
}

.vstarImages {
  margin: 80px 0 0;
}

.album {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.75);
  z-index: 11;
}

.show {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 125px;
  padding: 0;
}

.show:before {
  content: '';
  margin: -1px;
  height: 100%;
  vertical-align: middle;
}

.album_image {
  width: auto;
  max-width: 85%;
  max-height: 95%;
  display: block;
  margin: auto;
  vertical-align: middle;
}

.thumbnails {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0 70px;
  width: 100%;
  height: 120px;
  white-space: nowrap;
  overflow-x: hidden;
}

.thumbnail {
  display: inline-block;
  box-sizing: border-box;
  width: 180px;
  height: 120px;
  overflow: hidden;
}

.thumbnail.selected {
  border: 1px solid #FFFFFF;
}

.thumbnail_img {
  display: block;
  width: 160px;
  margin: auto;
}

.left_arrow,
.right_arrow {
  width: 70px;
  height: 100%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: rgba(0,0,0,.8);
  cursor: pointer;
}

.left_arrow { left: 0; }
.right_arrow { right: 0; }

.left_arrow:before,
.left_arrow:after,
.right_arrow:before,
.right_arrow:after {
  content: '';
  width: 45px;
  height: 0;
  border: 10px solid #F0F0F0;
  border-radius: 10px;
  background-color: rgba(255,255,255,.75);
  position: absolute;
  top: 50%;
}

.left_arrow:before,
.left_arrow:after {
  left: 10px;
  -webkit-transform-origin: 10px center;
  transform-origin: 10px center;
}

.right_arrow:before,
.right_arrow:after {
  right: 10px;
  -webkit-transform-origin: 55px center;
  transform-origin: 55px center;
}

.left_arrow:before,
.right_arrow:after {
  -webkit-transform: rotate(60deg);
  transform: rotate(60deg);
}

.right_arrow:before,
.left_arrow:after {
  -webkit-transform: rotate(300deg);
  transform: rotate(300deg);
}

.album_close {
  display: block;
  width: 80px;
  height: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  color: #FFFFFF;
  line-height: 30px;
  cursor: pointer;
}

.projectImages {
  position: relative;
  width: 275px;
  height: 200px;
  display: inline-block;
}

.abstract {
  font-style: italic;
}
