:host {
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

label {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.square {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-color: white;
}

input[type=checkbox] {
  display: none;
}

input[type=checkbox]:checked + label {
  background-color: black;
}
