.fs-1, .fs-2, .fs-3,
.fs-4, .fs-5, .fs-6,
.fs-7, .fs-8, .fs-9,
.fs-10, .fs-11, .fs-12 {
  margin-left: 2%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.fs-12, fo-0,
.flex > .fs-1, .flex > .fs-2,
.flex > .fs-3, .flex > .fs-4,
.flex > .fs-5, .flex > .fs-6,
.flex > .fs-7, .flex > .fs-8,
.flex > .fs-9, .flex > .fs-10,
.flex > .fs-11 { margin-left: 0; }

.fs-1:first-child:last-child,.fs-1.section,
.fs-2:first-child:last-child, .fs-2.section,
.fs-3:first-child:last-child, .fs-3.section,
.fs-4:first-child:last-child, .fs-4.section,
.fs-5:first-child:last-child, .fs-5.section,
.fs-6:first-child:last-child, .fs-6.section,
.fs-7:first-child:last-child, .fs-7.section,
.fs-8:first-child:last-child, .fs-8.section,
.fs-9:first-child:last-child, .fs-9.section,
.fs-10:first-child:last-child, .fs-10.section,
.fs-11:first-child:last-child, .fs-11.section {
  margin-left: auto;
  margin-right: auto;
}

.fs-1 { width: 6.5%; flex: 1 0 6.5%; }
.fs-2 { width: 15%; flex: 2 0 15%; }
.fs-3 { width: 23.5%; flex: 3 0 23.5%; }
.fs-4 { width: 32%; flex: 4 0 32%; }
.fs-5 { width: 40.5%; flex: 5 0 40.5%; }
.fs-6 { width: 49%; flex: 6 0 49%; }
.fs-7 { width: 57.5%; flex: 7 0 57.5%; }
.fs-8 { width: 66%; flex: 8 0 66%; }
.fs-9 { width: 74.5%; flex: 9 0 74.5%; }
.fs-10 { width: 83%; flex: 10 0 83%; }
.fs-11 { width: 91.5%; flex: 11 0 91.5%; }
.fs-12 { width: 100%; flex: 12 0 100%; }

.fo { margin-left: 2%; }
.fo-0 { margin-left: 0; }
.fo-1 { margin-left: 8.5%; }
.fo-2 { margin-left: 17%; }
.fo-3 { margin-left: 25.5%; }
.fo-4 { margin-left: 34%; }
.fo-5 { margin-left: 42.5%; }
.fo-6 { margin-left: 51%; }
.fo-7 { margin-left: 59.5%; }
.fo-8 { margin-left: 68%; }
.fo-9 { margin-left: 76.5%; }
.fo-10 { margin-left: 85%; }
.fo-11 { margin-left: 93.5%; }

@media (max-width: 1280px) {
  
  .fs-1-1280 { width: 6.5%; flex: 1 0 6.5%; }
  .fs-2-1280 { width: 15%; flex: 2 0 15%; }
  .fs-3-1280 { width: 23.5%; flex: 3 0 23.5%; }
  .fs-4-1280 { width: 32%; flex: 4 0 32%; }
  .fs-5-1280 { width: 40.5%; flex: 5 0 40.5%; }
  .fs-6-1280 { width: 49%; flex: 6 0 49%; }
  .fs-7-1280 { width: 57.5%; flex: 7 0 57.5%; }
  .fs-8-1280 { width: 66%; flex: 8 0 66%; }
  .fs-9-1280 { width: 74.5%; flex: 9 0 74.5%; }
  .fs-10-1280 { width: 83%; flex: 10 0 83%; }
  .fs-11-1280 { width: 91.5%; flex: 11 0 91.5%; }
  .fs-12-1280 { width: 100%; flex: 12 0 100%; }

  .fo-1280 { margin-left: 2%; }
  .fo-0-1280 { margin-left: 0; }
  .fo-1-1280 { margin-left: 8.5%; }
  .fo-2-1280 { margin-left: 17%; }
  .fo-3-1280 { margin-left: 25.5%; }
  .fo-4-1280 { margin-left: 34%; }
  .fo-5-1280 { margin-left: 42.5%; }
  .fo-6-1280 { margin-left: 51%; }
  .fo-7-1280 { margin-left: 59.5%; }
  .fo-8-1280 { margin-left: 68%; }
  .fo-9-1280 { margin-left: 76.5%; }
  .fo-10-1280 { margin-left: 85%; }
  .fo-11-1280 { margin-left: 93.5%; }
  
}

@media (max-width: 800px) {
  
  .fs-1-800 { width: 6.5%; flex: 1 0 6.5%; }
  .fs-2-800 { width: 15%; flex: 2 0 15%; }
  .fs-3-800 { width: 23.5%; flex: 3 0 23.5%; }
  .fs-4-800 { width: 32%; flex: 4 0 32%; }
  .fs-5-800 { width: 40.5%; flex: 5 0 40.5%; }
  .fs-6-800 { width: 49%; flex: 6 0 49%; }
  .fs-7-800 { width: 57.5%; flex: 7 0 57.5%; }
  .fs-8-800 { width: 66%; flex: 8 0 66%; }
  .fs-9-800 { width: 74.5%; flex: 9 0 74.5%; }
  .fs-10-800 { width: 83%; flex: 10 0 83%; }
  .fs-11-800 { width: 91.5%; flex: 11 0 91.5%; }
  .fs-12-800 { width: 100%; flex: 12 0 100%; }

  .fo-800 { margin-left: 2%; }
  .fo-0-800 { margin-left: 0; }
  .fo-1-800 { margin-left: 8.5%; }
  .fo-2-800 { margin-left: 17%; }
  .fo-3-800 { margin-left: 25.5%; }
  .fo-4-800 { margin-left: 34%; }
  .fo-5-800 { margin-left: 42.5%; }
  .fo-6-800 { margin-left: 51%; }
  .fo-7-800 { margin-left: 59.5%; }
  .fo-8-800 { margin-left: 68%; }
  .fo-9-800 { margin-left: 76.5%; }
  .fo-10-800 { margin-left: 85%; }
  .fo-11-800 { margin-left: 93.5%; }
  
}

@media (max-width: 640px) {
  
  .fs-1-640 { width: 6.5%; flex: 1 0 6.5%; }
  .fs-2-640 { width: 15%; flex: 2 0 15%; }
  .fs-3-640 { width: 23.5%; flex: 3 0 23.5%; }
  .fs-4-640 { width: 32%; flex: 4 0 32%; }
  .fs-5-640 { width: 40.5%; flex: 5 0 40.5%; }
  .fs-6-640 { width: 49%; flex: 6 0 49%; }
  .fs-7-640 { width: 57.5%; flex: 7 0 57.5%; }
  .fs-8-640 { width: 66%; flex: 8 0 66%; }
  .fs-9-640 { width: 74.5%; flex: 9 0 74.5%; }
  .fs-10-640 { width: 83%; flex: 10 0 83%; }
  .fs-11-640 { width: 91.5%; flex: 11 0 91.5%; }
  .fs-12-640 { width: 100%; flex: 12 0 100%; }

  .fo-640 { margin-left: 2%; }
  .fo-0-640 { margin-left: 0; }
  .fo-1-640 { margin-left: 8.5%; }
  .fo-2-640 { margin-left: 17%; }
  .fo-3-640 { margin-left: 25.5%; }
  .fo-4-640 { margin-left: 34%; }
  .fo-5-640 { margin-left: 42.5%; }
  .fo-6-640 { margin-left: 51%; }
  .fo-7-640 { margin-left: 59.5%; }
  .fo-8-640 { margin-left: 68%; }
  .fo-9-640 { margin-left: 76.5%; }
  .fo-10-640 { margin-left: 85%; }
  .fo-11-640 { margin-left: 93.5%; }
  
}

@media (max-width: 480px) {
  
  .fs-1-480 { width: 6.5%; flex: 1 0 6.5%; }
  .fs-2-480 { width: 15%; flex: 2 0 15%; }
  .fs-3-480 { width: 23.5%; flex: 3 0 23.5%; }
  .fs-4-480 { width: 32%; flex: 4 0 32%; }
  .fs-5-480 { width: 40.5%; flex: 5 0 40.5%; }
  .fs-6-480 { width: 49%; flex: 6 0 49%; }
  .fs-7-480 { width: 57.5%; flex: 7 0 57.5%; }
  .fs-8-480 { width: 66%; flex: 8 0 66%; }
  .fs-9-480 { width: 74.5%; flex: 9 0 74.5%; }
  .fs-10-480 { width: 83%; flex: 10 0 83%; }
  .fs-11-480 { width: 91.5%; flex: 11 0 91.5%; }
  .fs-12-480 { width: 100%; flex: 12 0 100%; }

  .fo-480 { margin-left: 2%; }
  .fo-0-480 { margin-left: 0; }
  .fo-1-480 { margin-left: 8.5%; }
  .fo-2-480 { margin-left: 17%; }
  .fo-3-480 { margin-left: 25.5%; }
  .fo-4-480 { margin-left: 34%; }
  .fo-5-480 { margin-left: 42.5%; }
  .fo-6-480 { margin-left: 51%; }
  .fo-7-480 { margin-left: 59.5%; }
  .fo-8-480 { margin-left: 68%; }
  .fo-9-480 { margin-left: 76.5%; }
  .fo-10-480 { margin-left: 85%; }
  .fo-11-480 { margin-left: 93.5%; }
  
}
