body {
  background-color: rgb(230, 230, 230);
  font-family: 'Open Sans';
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.body {
  width: 100%;
  /* height: 800px; */
  position: relative;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, .5);
  margin: 0;
  padding: 40px 0 20px;
}

.footer {
  position: relative;
  width: 100%;
  padding: 10px 0 10px;
  background-color: rgb(120, 120, 120);
  box-shadow: 0 5px 10px 2px rgba(0, 0, 0, .5);
}

.introtext {
  width: 47%;
  min-width: 280px;
  font-size: 1.25em;
  font-weight: 400;
  line-height: 1.38;
  margin: 0 0 25px;
  padding: 20px 0 0 20px;
  color: rgb(255, 255, 255);
}

.introtext span {
  font-size: 2.5em;
  font-weight: 400;
  display: block;
}

.navlink {
  display: inline-block;
  position: relative;
  font-family: Oswald;
  font-size: 1.25em;
  line-height: 1;
  vertical-align: bottom;
  text-align: center;
  color: rgb(0, 0, 0);
}

@media (max-width: 1280px) {
  .navlink { font-size: .8em; }
}

.navlink:after/*,
.name:after */ {
  content: '';
  display: block;
  height: 5px;
  /* width: 144px; */
  width: 100%;
  position: absolute;
  bottom: -10px;
  left: 0;
  background: rgba(0, 0, 0, .5);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: .5s all ease-in;
  transition: .5s all ease-in;
}

.navlink.current:after,
.name.current:after {
  -webkit-transform: scaleY(0.25);
  transform: scaleY(0.25);
}

.name:after {
  top: 50px;
}

.navlink:hover:after,
.name:hover:after {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  background: rgba(0, 0, 0, 1);
}

.section {
  margin: 50px auto;
}







.skilldesc {
  width: 100%;
  min-height: 64px;
  margin-top: 10px;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  color: #888888;
}

.skillicon {
  float: left;
  width: 120px;
  /* height: 120px; */
  margin: 0;
  background-color: rgb(222, 222, 222);
  box-shadow: -30px -30px 1px -20px #cccccc;
}

.skill:nth-child(even) .skillicon {
  margin: 0 0 0 15px;
}

.skilltext {
  float: left;
  width: calc(100% - 135px);
  margin: 0;
  padding: 0 25px;
}

.name {
  display: inline-block;
  position: relative;
  /* width: 300px; */
  font-family: 'Open Sans';
  font-size: 3em;
  font-weight: 400;
  line-height: 1;
  vertical-align: bottom;
  color: rgb(0, 0, 0);
}

@media (max-width: 1280px) { .name { font-size: 2.5em; } }

@media (max-width: 800px) { .name { font-size: 2em; } }

.submit {
  display: block;
  width: 10em;
  height: 1.5em;
  margin: 0 0 0 auto;
  border-radius: 3px;
  background-color: rgb(222, 222, 222);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.5em;
  text-align: center;
  color: rgb(0, 0, 0);
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
-webkit-transition: .5s -webkit-transform ease-in;
-webkit-transition: .5s transform ease-in;
transition: .5s transform ease-in;
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
}

#wrapper {
  /* min-width: 1280px; */
  margin: 0 auto;
}

.content {
  width: 100%;
}

#navigation {
  /* height: 48px; */
  box-sizing: content-box;
  margin: 0 auto;
  padding: 10px 0 20px;
  position: absolute;
  top: 0;
  background-color: #FFFFFF;
  transition: all .5s ease-in;
  z-index: 10;
}

#contact {
  display: inline-block;
  min-width:240px;
  max-width: 360px;
  vertical-align: bottom;
}

#guestname,
#guestemail {
  display: block;
  width: 100%;
  height: 25px;
  background-color: rgb(242, 242, 242);
  font-size: 0.813em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
  padding-left: 10px;
}

#guestname.filled:invalid + .namelabel,
#guestemail.filled:invalid + .emaillabel,
#guestmessage.filled:invalid + .messagelabel{
  color: rgb(255, 0, 0);
  opacity: .5;
  font-weight: 700;
}

#guestname.filled:valid + .namelabel,
#guestemail.filled:valid + .emaillabel,
#guestmessage.filled:valid + .messagelabel {
  opacity: .75;
}

#guestname:focus ~ .namelabel,
#guestemail:focus ~ .emaillabel,
#guestmessage:focus ~ .messagelabel {
  color: rgb(255, 255, 255);
  opacity: 1;
}


#worklink {
  display: block;
  width: 30%;
  min-width: 240px;
  height: 48px;
  margin: 20px 7.5%;
  font-family: Oswald;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 2;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgba(96, 96, 96, 1);
}

.skilltext h3 {
  width: 100%;
  font-size: 1.3em;
  font-weight: 700;
  line-height: 1;
  color: rgb(0, 0, 0);
}

#contact label {
  display: block;
  height: 25px;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.38;
  color: rgb(255, 255, 255);
  opacity: 0;
  -webkit-transition: .5s opacity ease-in;
  transition: .5s opacity ease-in;
}

#copyright {
  display: inline-block;
  position: absolute;
  bottom: 5px;
  right: 5%;
  min-height: 15px;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(255, 255, 255);
  vertical-align: bottom;
}

#guestmessage {
  display: block;
  width: 100%;
  height: 90px;
  padding: 5px;
  background-color: rgb(242, 242, 242);
  font-family: Oswald;
  font-size: 1em;
  font-weight: 300;
  line-height: 1.38;
  color: rgb(0, 0, 0);
  resize: none;
}

.introtext span {
  font-size: 1.8em;
}
.right {
  float: right;
}

.bold {
  font-weight: 700;
  /* font-size: 1.1em; */
}

.feedback {
  color: rgb(255, 255, 255);
  width: 14em;
  margin: 0 0 0 auto;
  height: 1.5em;
  line-height: 1.5em;
  text-align: center;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transition: .5s -webkit-transform ease-in, .5s opacity ease-in;
  -webkit-transition: .5s transform ease-in, .5s opacity ease-in;
  transition: .5s transform ease-in, .5s opacity ease-in;
}

#contact .feedback.show {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  opacity: 1;
}

.feedback.show ~ .submit {
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
}

.black {
  color: #000000;
  font-weight: 600;
}

.sectionx2 {
  width: 82.9166666666%;
  height: 560px;
  margin: 50px auto;
}

#contact_me {
  font-size: 2.5em;
  margin-left: 8.49284%;
  color: #FFFFFF;
}

.flex_list { display: flex; }

#navCont {
  width: 100%;
  height: 88px;
  position: relative;
}
