.design_img {
  display: block;
  /* width: 240px; */
  width: auto;
  height: 120px;
  margin: 40px auto;
}

.design_img[data] {
  cursor: pointer;
}

.design_text {
  display: block;
  max-width: 30em;
  margin: 0 auto;
}

.design_story {
  display: inline-block;
  margin-bottom: 100px;
}

#design_process {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.story_title {
  text-align: center;
}

.vstar_links {
  margin-top: 20px;
}
