
sudoku-grid {
  font-size: 0;
}

sudoku-nine {
  display: inline-block;
  width: 33.3%;
  width: calc(100% / 3);
  height: 0;
  padding-bottom: 33.3%;
  padding-bottom: calc(100% / 3 - 2px);
  font-size: 0;
  border: 2px solid black;
  box-sizing: border-box;
}

sudoku-square {
  display: inline-block;
  width: 33.3%;
  width: calc((100% - 2px) / 3);
  width: calc(100% / 3);
  height: 0;
  padding-bottom: 33.3%;
  padding-bottom: calc(100% / 3 - 2px);
  border: 1px solid black;
  box-sizing: border-box;
  position: relative;
  font-size: 0;
}

sudoku-square input {
  font-size: 18pt;
  line-height: 0;
  width: 100%;
  height: 0;
  padding: 50% 0;
  box-sizing: border-box;
  border: none;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  z-index: 0;
}

sudoku-square.autoFilled input {
  color: blue;
}

sudoku-square input:focus ~ sudoku-possibility {
  opacity: 0;
}

sudoku-possibility {
  display: inline-block;
  width: inherit;
  height: inherit;
  padding: 16.66% 0;
  padding: calc(100% / 6) 0;
  position: absolute;
  font-size: 12pt;
  line-height: 0;
  text-align: center;
  color: blue;
  opacity: 0;
  pointer-events: none;
}

sudoku-possibility.possible {
  opacity: .5
}

sudoku-possibility:nth-of-type(3n+1){ left: 0; }
sudoku-possibility:nth-of-type(3n+2){ left: 33.33%; }
sudoku-possibility:nth-of-type(3n){ left: 66.66%; }
sudoku-possibility:nth-of-type(-n+3){ top: 0; }
sudoku-possibility:nth-of-type(n+4){ top: 33.33%; }
sudoku-possibility:nth-of-type(n+7){ top: 66.66% }
